* {
    margin: 0px;
    font-family: poppins;
}

main {
    width: 100%;
    margin: auto;
    margin-top: 100px;
}


.nav {
    padding: 20px;
    display: flex;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0; 
    width: 100%; 
    background-color: white; 
    z-index: 1000; 
}

.nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 20px;
    
}

.nav ul li {
    margin: auto 25px auto 25px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease; 
}

.nav ul li:hover {
    color: #29b2f7;
    transform: scale(1.1); 
}

.nav h1 {
    margin-left: 50px;
}

#logout {
    color: white;
    background-color: #f72929;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.3s ease; 
}

#logout:hover {
    color: #f72929;
    border: 2px solid #b42929;
    background-color: #fff;
    transform: scale(1.1); 
}

.sectionC {
    margin-top: 30px;
    padding: 50px;
}

.book-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    /* justify-content: space-between;
    flex-wrap: wrap; */
}

.book-done {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}

.book-item {
    width: 400px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

.book-item img {
    width: 100%;
}
.book-item h4 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 550;
}

.book-item p {
    line-height: 25px;
    text-align: center;
}

.book-item button.read {
    width: 35%;
    padding: 10px;
    background-color:#29b2f7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    margin: 10px;
}

.book-item button.read:hover {
    background-color: #007bff;
}

.book-item button.delete {
    width: 35%;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    margin: 10px;
}

.book-item button.delete:hover {
    background-color: #b03131;
}


.sectionC h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Styling Footer */
footer {
    background-color: #29b2f7;
    color: white;
    padding: 40px 0;
    text-align: center;
}

/* Container utama footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}


/* Navigation Links */
.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
}

.footer-nav ul li {
    margin: 0 20px;
}

.footer-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}



/* Social Media Links */
.footer-social {
    text-align: center;
    margin-top: 20px;
}

.footer-social ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer-social ul li {
    margin: 0 20px;
}

.footer-social ul li a img {
    width: 40px; 
    height: 40px; 
    transition: transform 0.3s ease;
}

.footer-social ul li a:hover img {
    transform: scale(1.1); 
}


.footer-bottom {
    padding: 10px 0;
    font-size: 14px;
}

